# How many blogs to download at the same time
concurrency: 2

# Default values for the blogs. Can be overridden
defaults:
  dump_media: true
  dump_all_media: false

# The usernames to download from Tumblr. `dashboard` means to download the dashboard of the logged in user.
users:
  dashboard:
    max_offset: 500
    dump_media: false
  staff:
  fandom:
    offset: 100
    max_offset: 200
    dump_all_media: true
